footer.footer
    .container.text-center
        p.
            I will never track you or collect analytics. You can check the
            #[a(href="https://gitlab.com/ashkitten/ashy.cf") source code]
            of this website, which is deployed directly to
            #[a(href="https://netlify.com") Netlify].
        p Open source libraries used in this project are listed #[a(href="/foss") here]
        p Made with #[i.fa.fa-heart] by Ash Lea
