nav.navbar.navbar-expand-lg.navbar-dark
    .container
        a.navbar-brand(href="/")= navbarBrand
        button.navbar-toggler(
            type="button",
            data-toggle="collapse",
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        )
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarSupportedContent")
            ul.navbar-nav.ml-auto
                each link in navigation
                    li.nav-item: a.nav-link(href=link.url)= link.title
