/* Waiting for beta 2 to release
$theme-colors: (
    primary: "#6f42c1",
);
*/

/* Fix for https://github.com/twbs/bootstrap/issues/20925 */
.card-columns {
    orphans: 1;
    widows: 1;
}

$main-colors: #fe95c5 #f9ba90 #ffaca7 #e3c0c8 #c59aea;
$card-color: #fff4fd;
$header-color: #8272e0;
$footer-color: #a79de0;
$light-color: #ffffff;
$dark-color: #222222;

@import "bootstrap/scss/bootstrap";
@import "font-awesome/scss/font-awesome";

$skew: 2.5deg;
$skewTan: -0.04363323; // Manually calculated
$skewHeight: 100vw * -$skewTan;

@function luma($c) {
    $-local-red: red(rgba($c, 1.0));
    $-local-green: green(rgba($c, 1.0));
    $-local-blue: blue(rgba($c, 1.0));

    @return (0.2126 * $-local-red  +
    0.7152 * $-local-green +
    0.0722 * $-local-blue) / 255;
}

@mixin text-colors($bg) {
    $c1: desaturate(darken($bg, 70%), 40%);
    $c2: desaturate(lighten($bg, 70%), 40%);

    $bg-luma: luma($bg);
    $c1-luma: luma($c1);
    $c2-luma: luma($c2);

    $c1-diff: abs($bg-luma - $c1-luma);
    $c2-diff: abs($bg-luma - $c2-luma);

    @if $c1-diff > $c2-diff {
        color: $c1;
        .text-muted {
            color: desaturate(lighten($c1, 20%), 30%) !important;
        }
        a {
            color: saturate(lighten($c1, 20%), 100%);
        }
    } @else {
        color: $c2;
        .text-muted {
            color: desaturate(darken($c2, 20%), 30%) !important;
        }
        a {
            color: saturate(lighten($c2, 20%), 100%);
        }
    }
}

@mixin _elements($c) {
    background-color: $c;
    @include text-colors($c);

    .form-control, .form-control.focus {
        background-color: lighten($c, 15%);
        @include text-colors(lighten($c, 15%));
    }

    .btn {
        background-color: darken($c, 40%);
        @include text-colors(darken($c, 40%));
    }

    .more-container .more {
        background-color: $c;
    }
}

@mixin elements($c) {
    @include _elements($c);

    .card {
        @include _elements(lighten($c, 10%));
    }
}

@for $i from 1 through length($main-colors) {
    $c: nth($main-colors, $i);
    main > *:nth-child(#{$i}) {
        @include elements($c);
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    > * {
        border-bottom: 2px dashed white;
        transform-origin: top left;
        transform: skewY($skew);
        padding-top: 3em;
        padding-bottom: calc(#{$skewHeight} + 3em);

        > * {
            transform-origin: top right;
            transform: skewY(-$skew);
        }
    }

    > *:first-child {
        padding-top: calc(3em + 50px); // 50px to account for navbar
    }

    > .page {
        min-height: calc(100vh + 3px);

        h1 {
            margin: 0.5em 0;
        }
    }
}

.navbar {
    @include elements($header-color);

    width: 100%;
    position: fixed;
    z-index: 1;

    &::after {
        content: "";
        background: inherit;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(#{$skewHeight} * 2);
        z-index: -1;
        transform-origin: top left;
        transform: skewY($skew);
        border-bottom: 2px dashed white;
    }
}

.footer {
    @include elements($footer-color);

    padding: 10px 0;
    padding-top: $skewHeight;

    p {
        margin: 1em 0;
    }
}

.dotdotdot {
    max-height: 30em;
}

.more-container {
    position: relative;
    overflow: hidden;
    display: inline-block;

    .more {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: $card-spacer-x;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        z-index: -1;
        transition: transform 1s;
        transform: translateY(100%);

        &.show {
            transform: initial;
            z-index: auto;
        }

        &.showing {
            z-index: auto;
        }
    }
}
