//- foot.pug

block scripts
    -
        var scripts = [
            "/js/jquery.min.js",
            "/js/jquery.validate.min.js",
            "/js/jquery.dotdotdot.js",
            "/js/popper.min.js",
            "/js/bootstrap.min.js",
            "/js/moment.min.js",
            "/js/script.js"
        ];

each script in scripts
    script(src=script, type='text/javascript')
