//- head.pug

block styles
    -
        var stylesheets = [
            "/css/style.css"
        ];

head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content=description)
    title= title
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
    each style in stylesheets
        link(rel="stylesheet", type="text/css", href=style)
