extends ../layout/default.pug

block content
    main
        section.page.bg-danger
            .container
                h1.display-3 You've come to the wrong place!
                p.lead Error 404 Not Found
