extends ../layout/default.pug

block content
    main
        div
            .container
                h1.display-3 Open Source Information
        section#foss.page
            .container
                p This website is entirely open source, and uses many free, open source libraries, the main ones being:
                ul
                    li: a(href="https://github.com/sass/sass") Sass (CSS preprocessor)
                    li: a(href="https://github.com/pugjs/pug") Pug (Templating language)
                    li: a(href="https://github.com/jquery/jquery") jQuery (General purpose JavaScript library)
                    li: a(href="https://github.com/jquery-validation/jquery-validation") jQuery Validation Plugin (Form validation)
                    li: a(href="https://github.com/FrDH/jQuery.dotdotdot") jQuery.dotdotdot (Multi-line ellipses)
                    li: a(href="https://github.com/twbs/bootstrap") Bootstrap (HTML/CSS/JS framework)
                p.
                    I used many other libraries in the making of this website as well.
                    You can find a full list of them in the package.json #[a(href="https://gitlab.com/ashkitten/ashy.cf/blob/master/package.json") here].
