extends ../layout/default.pug

block content
    main
        section#intro.page.d-flex
            .container.align-self-center
                object.align-middle(type="image/svg+xml", data="/images/intro.svg")
        section#about.page
            .container
                h1 About Me
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie tincidunt bibendum. Phasellus molestie fringilla est eget viverra. Suspendisse luctus, metus volutpat vestibulum pretium, enim lacus posuere elit, a interdum sem urna et magna. Vestibulum a rhoncus mi. Donec laoreet volutpat quam cursus vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in vestibulum est, id luctus lectus. Etiam sollicitudin suscipit sagittis.
                p Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam tincidunt aliquam velit, in bibendum nulla varius eu. Donec rutrum efficitur magna, eget eleifend velit lobortis nec. Donec dignissim turpis dui, id dapibus libero lacinia vitae. Nulla malesuada felis eros, eu interdum dui lacinia mattis. Nulla viverra augue turpis, id iaculis ipsum ullamcorper eget. Vestibulum et porttitor libero, id posuere ex. Nunc at hendrerit eros, et iaculis ex. Aliquam porttitor malesuada vulputate. 
        section#projects.page
            .container
                h1 My Projects
                .card-columns
                    each project in projects
                        - var id = `project-${project.stem}`;
                        .card
                            .more-container(id=id)
                                img.card-img-top(src=project.data.image)
                                .card-body
                                    h4.card-title= project.data.title
                                    p.card-text= project.data.short
                                .more!= project.contents
                            .card-footer.d-flex
                                if project.contents.toString().length != 0
                                    a.card-link(
                                        href="#",
                                        data-toggle="more",
                                        data-target=`#${id} .more`,
                                        aria-expanded="false",
                                        aria-controls=id,
                                    ) More Info
                                a.card-link.ml-auto(href=project.data.link) Go to project
