extends ../../layout/default.pug

block content
    main
        .bg-pastel-5
            .container
                h1.display-3 Welcome to my blog!
                p.lead This is the blog section of my website. Feel free to explore!
        section#posts.page.bg-pastel-3
            .container
                h1 Posts
                .card-columns
                    each post in posts.sort(function(a, b) { return b.data.date - a.data.date })
                        .card
                            .card-header
                                h4.card-title: a(href=`/blog/posts/${post.relative}`)= post.data.title
                                p.card-subtitle.text-muted.date(date=post.data.date)
                            .card-body.dotdotdot
                                .card-text!= post.contents
