extends ../../layout/default.pug

block content
    main
        div
            .container
                h1.display-3 Contact Me
                p.lead.
                    This form allows you to contact me directly.
                    On submission, an email will be sent directly to my inbox and I will reply as soon as possible.
        section#contact-form.page.bg-pastel-2
            .container
                form(name="contact", action="/contact/success", netlify, netlify-honeypot="honeypot", novalidate)
                    input(name="honeypot" type="hidden")
                    .row
                        .input-field.col-12.col-sm-6.mb-3
                            label.col-form-label(for="first_name") First Name
                            input.form-control(id="first_name", name="first_name" type="text", required)
                            .invalid-feedback Invalid
                        .input-field.col-12.col-sm-6.mb-3
                            label.col-form-label(for="last_name") Last Name
                            input.form-control(id="last_name", name="last_name" type="text", required)
                            .invalid-feedback Invalid
                    .row
                        .input-field.col-12.mb-3
                            label.col-form-label(for="email") Email
                            input.form-control(id="email", name="email" type="email", required)
                            .invalid-feedback Invalid
                    .row
                        .input-field.col-12.mb-3
                            label(for="message") Message
                            textarea.form-control(id="message", name="message", required)
                            .invalid-feedback Invalid
                    .d-flex
                        button.ml-auto.btn(type="submit", name="action") Submit
