extends ../../layout/default.pug

block content
    main
        section.page
            .container
                h1.display-3 Success!
                p.lead Your message has been sent and will be handled shortly.
