doctype html
html
    block head
        include ../includes/head.pug
    body
        block header
            include ../blocks/header.pug
        block content
        block footer
            include ../blocks/footer.pug
        block foot
            include ../includes/foot.pug
