extends ./default.pug

block content
    main
        .bg-pastel-5
            .container
                h1.display-3= title
                p.lead= subtitle
        section.page.bg-pastel-4
            .container
                p.text-muted.date(date=date)
                article.contents!= contents
